/*div {
	border: 2pt solid black;
}

.box {
	background: silver;
}

div.box {
	padding: 2rem;
}

div .box {
	font-size: 2rem;
}
*/

:root {
	--offset: 200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	padding: 2rem;
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--offset);
}

.app {
	display: flex;
	flex-direction: column;
	gap: var(--offset);
}

div {
/*	border: 2pt solid black;*/
}

.left, .right {
	min-height: 50vh;
}

.left {
	display: flex;
	flex-direction: column;
	width: 25%;
	gap: var(--offset);
}

.right {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: var(--offset);
}

.services {
	display: flex;
	gap: var(--offset);
}

.services > div {
	width: 50%;
}

.main {
	display: flex;
	gap: var(--offset);
}

.flex1 {
	flex: 1;
}

div {
	text-align: justify;
}
